<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Set Shaper | Aker</title>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <!-- Display the hamburger button if screen isn't wide enough -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Aker</a>
        </div>
        <div class="collapse navbar-collapse" id="navBar">
          <ul class="nav navbar-nav">
            <% puts params %>
            <li><%= link_to 'Simple', root_url, id: ('current_page' if params[:action] == 'index') %></li>
            <li><%= link_to 'Advanced', search_url, id: ('current_page' if params[:action] == 'search') %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">Logged in as <%= current_user.email.split('@')[0] %></p></li>
            <li><%= link_to 'Log Out', Rails.configuration.logout_url, method: :delete %></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <div class="container-fluid" id="application"><%= yield %></div> -->
    <div id="application"><%= yield %></div>


    <script type="text/javascript">
      var Aker = { userEmail: '<%= current_user.email %>' }
    </script>
    <%= webpack_manifest_script %>
    <%= webpack_include_tag 'common' %>

    <%= yield :js if content_for? :js %>

  </body>

</html>
